@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import'./variables.css'; 
@import'./NavMain.css'; 
@import'./user.css'; 
@import'./quizz.css';
@import'./home.css';
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import'./searchBar.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Quicksand', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}




/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  height: 80px;
  width: 80px;
  cursor: pointer;
  padding: 0.5rem;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: none;
  background-color: rgb(223, 215, 215);
  border-radius: 3rem;
 
  
}


.column {
  display:flex;
  flex-direction: column;
}

.row {
  display:flex;
  flex-direction: row;
}

.center {
  justify-content: center;
  align-items: center;
}

.start {
  justify-content: flex-start;
  align-items: flex-start;
}

.end {
  justify-content: flex-end;
  align-items: flex-end;
}

.btn {
  background-color: var(--red);
  border-radius: 8px;
  color: white;
  width: 6em;
  height: 2.5em;
  border-style: none;
  font-weight: 600;
  font-family: 'Rubik', sans-serif;
}

.btn:hover{
  background-color: rgb(145, 69, 74);
}

.space-around {
  justify-content: space-around;
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.footer {
  width:90%;
  height: 200px;
  border-top: 1px solid rgba(0, 0, 0, 0.205);
  border-bottom: 1px solid rgba(0, 0, 0, 0.205);
  margin-top: 40px;
  margin-bottom: 20px;
  justify-content: space-around;
  align-items: flex-start;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
}

.footer h4 {
  margin-bottom: 10px;
  margin-top: 20px;
}