@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import'./variables.css'; 
@import'./NavMain.css'; 
@import'./user.css'; 
@import'./quizz.css';
@import'./home.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Manrope", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}



/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  height: 80px;
  width: 80px;
  cursor: pointer;
  padding: 0.5rem;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: none;
  background-color: rgb(223, 215, 215);
  border-radius: 3rem;
 
  
}


.column {
  display:flex;
  flex-direction: column;
}

.row {
  display:flex;
  flex-direction: row;
}

.center {
  justify-content: center;
  align-items: center;
}

.start {
  justify-content: flex-start;
  align-items: flex-start;
}

.end {
  justify-content: flex-end;
  align-items: flex-end;
}

.btn {
  background-color: var(--red);
  border-radius: 8px;
  color: white;
  width: 6em;
  height: 2em;
  border-style: none;
  font-weight: 600;
}

.btn:hover{
  background-color: rgb(145, 69, 74);
}

.space-around {
  justify-content: space-around;
  align-items: center;
}