@media (max-width: 1040px){
    .quizz-home {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
}

.welcome-div {
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 50px;
    margin-top: 30px;
    padding: 40px;
    width: 100%;
}

.bouton-flèche {
    width: 50px;
}

.title {
    font-size: 25px;
    color: rgb(88, 87, 87);
}

