@import'./variables.css'; 

.NavMain {
  background-color: var(--red);
  color: white;
  display: flex;
  align-items: center;
  padding: 20px;
  height: 65px;
  margin-bottom: 30px;
  width: 100%;
  visibility:visible;
}


.NavMain .nav-list {
  margin-left: auto;
  display: flex;
  margin-bottom: 3px;
}

.NavMain .nav-list li:not(:last-child) {
  margin-right: 20px;
}

.NavMain li {
  margin-left: 15px;
  margin-right: 15px;
}

.NavMain a {
  margin-left: 5px;
  margin-right: 15px;
}

.NavMain li:hover {
  font-weight: 600;
  cursor: pointer;
  
  
}

.NavMain a:hover {
  font-weight: 600;
  cursor: pointer;
  
}

.avatar {
  margin-bottom: 8px;
  margin-top: 5px;
  margin-left: 10px;
  background-color: white;
  border-radius: 40px;
  padding: 5px;
}

.link-nav {
  margin-left: 30px;
}

.NavMain .avatar {
  margin-right: 50px;
}

@media (max-width: 600px) {
  .NavMain .avatar {
    margin-left: 15px;
  }

}