@keyframes shake-bottom {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 100%;
  }
  10% {
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    transform: rotate(4deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(2deg);
  }
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1, 0.95, 1);
  }
  40% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.05, 1, 1);
  }
  65% {
    transform: scale3d(1, 1, 1);
  }
  75% {
    transform: scale3d(1.05, 1, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}


.all-quizz {
  flex-wrap: wrap;
}


.quizz-sticker {
  height: 14em;
  width: 22em;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  margin: 6px;
  padding: 2em
}

.quizz-sticker:hover {
  animation: jello-horizontal 0.9s both;
}

.quizz-sticker-mobile {
  height: 22em;
  width: 45em;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  margin: 6px;
  padding: 2em
}

.quizz-sticker-mobile:hover {
  animation: jello-horizontal 0.9s both;
}


.quizz-sticker h3 {
  text-align: center;
  text-transform: uppercase;
  color: white;
 
  
}

.quizz-sticker-mobile h3 {
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: 35px;
 
  
}


.quizz-form{
  width: 50em;
  padding: 1em;
}

.quizz-form .title{
  height:3em;
}

.question{
  height:3em;
}

.question-box input{
  width: 50em;
}
.q-input{
  height:3em;
  margin:2em 0;
 
}
.question-box{
  padding:2em;
}
.question-box [type=radio]{
  width:1em;
  height:1em;
  opacity: 100;
  display: flex;
  position: relative;
}

.endquizz {
  margin-top: 40px;
  padding: 10px;
  height: 200px;
  justify-content: flex-start;
  align-items:center;


}

/* Display Quizz */


@media (max-width: 1200px){
  .quizz-sticker {
    height: 14em;
    width: 18em;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin: 6px;
    padding: 2em
  }

  .quizz-sticker-mobile {
    height: 12em;
    width: 23em;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin: 6px;
    padding: 2em
  }

  .quizz-sticker-mobile h3{
    font-size: 20px;
  }

  .question-h3 {
    height: 60%;
  }

  .banner-question {
    width: 70%;
  }
 
}

.question-div {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.proposition {
  margin: 15px;
  background-color: var(--grey);
  padding: 10px;
  border-radius: 10px;
  width: 90%;
}

.proposition:hover {
  background-color: rgba(128, 128, 128, 0.247);
  animation: shake-bottom 1s;
  cursor:pointer;
  
}

.answer {
  height: 11em;
  
}

.display-quizz {
  width: 90%
}

.question-section {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.banner-question {
  height: 15em;
  background-position: center;
  width: 50%;
  border-radius: 20px;
}

.question-h3 {
  text-align:center; 
  background-color:white; 
  width:100%; 
  height: 40%;
}
