.all-quizz {
  flex-wrap: wrap;
}


.quizz-sticker {
  height: 14em;
  width: 20em;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  margin: 6px;
  padding: 2em
}

.quizz-sticker h3 {
  text-align: center;
  text-transform: uppercase;
  color: white
}

.quizz-form{
  width: 50em;
  padding: 1em;
}

.quizz-form .title{
  height:3em;
}

.question{
  height:3em;
}

.question-box input{
  width: 50em;
}
.q-input{
  height:3em;
  margin:2em 0;
 
}
.question-box{
  padding:2em;
}
.question-box [type=radio]{
  width:1em;
  height:1em;
  opacity: 100;
  display: flex;
  position: relative;
}

.endquizz {
  margin-top: 40px;
  padding: 10px;
  height: 200px;
  justify-content: flex-start;
  align-items:center;


}
