@keyframes slide-bck-center {
  0% {
    transform: translateZ(0);
  }
  100% {
    transform: translateZ(-400px);
  }
}


@keyframes shake-bottom {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 100%;
  }
  10% {
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    transform: rotate(4deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(2deg);
  }
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1, 0.95, 1);
  }
  40% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.05, 1, 1);
  }
  65% {
    transform: scale3d(1, 1, 1);
  }
  75% {
    transform: scale3d(1.05, 1, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes pulsate-bck {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bounce-in-top {
  0% {
    transform: translateY(-500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}




.all-quizz {
  flex-wrap: wrap;
}


.quizz-sticker {
  height: 14em;
  width: 22em;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  margin: 6px;
  padding: 2em
}

.quizz-sticker:hover {
  animation: pulsate-bck 0.5s ease-in-out both;
}

.quizz-sticker-mobile {
  height: 18em;
  width: 35em;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  margin: 6px;
  padding: 2em
  
}

h3 {
  font-family: 'Rubik', sans-serif;
}

h2 {
  font-family: 'Rubik', sans-serif;
}

.quizz-sticker-mobile:hover {
  animation: pulsate-bck 0.5s ease-in-out both;
}


.quizz-sticker h3 {
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-family: 'Rubik', sans-serif;
 
  
}

.quizz-sticker-mobile h3 {
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: 35px;
  font-family: 'Rubik', sans-serif;
}

/* ////////////////////////////////////////////////////////// */


.global-quizz-form{
  width:90%;
  padding: 1.5em;
  margin: 0 auto;

}
 .global-quizz-form input{
  margin: 10px; 
  border-radius: 10px;
  border-style: none;
  background-color: var(--grey);
  height: 3em;
  padding: 10px;

 }

 .global-quizz-form label{
  font-size: 18px;
  font-weight:bold
 }

 .global-quizz-form select{
  display: flex;
  font-size: 16px;
 
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 50%;
  

  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .5em;
   background-color: #fff;
  background-image: ;

 }

 .quizz-form {
  height:50vh;
  
}

.quizz-form .title{
  height:3em;
  text-align:center;
  text-transform:uppercase;
  color:grey;

}

.img-download{
  padding: 2em 0 ;
}
/* .icon{
  height: 120px;
  width: 30%;
  size:9x
} */
.question{
  height:3em;
}

.question-box input{
  width: 50em;
  
}
.q-input{
  height:3em;
  margin:2em 0;
 
}
.question-box{
  padding:2em;
  margin-top: 0.7em;
  /* width:80% */
}
.question-box [type=radio]{
  width:1em;
  height:1em;
  opacity: 100;
  display: flex;
  position: relative;
}

.endquizz {
  margin-top: 40px;
  padding: 10px;
  height: 300px;
  width: 300px;
  border-radius: 20px;
  margin-bottom: 30px;
  justify-content: flex-start;
  align-items:center;
  animation: bounce-in-top 1.1s both;
  background-color: var(--grey);
}

.quizz-image{
  height:10rem;
width:15rem
}

.validate{
  width:30%
}
/* Display Quizz */


@media (max-width: 1200px){
  .quizz-sticker {
    height: 14em;
    width: 18em;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin: 6px;
    padding: 2em
  }

  .quizz-sticker-mobile {
    height: 12em;
    width: 23em;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin: 6px;
    padding: 2em
  }

  .quizz-sticker-mobile h3{
    font-size: 20px;
  }

  .question-h3 {
    height: 60%;
  }

  .banner-question {
    width: 70%;
  }
 
}

.question-div {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.proposition {
  margin: 15px;
  background-color: var(--grey);
  padding: 10px;
  
  width: 90%;
}

.proposition:hover {
  background-color: rgba(128, 128, 128, 0.247);
  animation: shake-bottom 1s;
  cursor:pointer;
  
}

.answer {
  height: 11em;
  
}

.display-quizz {
  width: 90%
}

.question-section {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.banner-question {
  height: 15em;
  background-size: cover;
  width: 50%;
  border-radius: 20px;
}

.question-h3 {
  text-align:center; 
  background-color:white; 
  width:100%; 
  height: 40%;
  font-family: 'Rubik', sans-serif;
}

.score-quizz {
  height: 60%
}


