@import'../variables.css'; 


.container_left {
  box-sizing: border-box;
  /* width: 55vw; */
  /* height: 80vh; */
  margin-left: 3vw;
}

#description {
  height: 10vh;
  overflow-wrap: normal;
  overflow: scroll;
}

.wrap {
    flex-wrap: wrap;
}

#team_card {
  padding: 1vh 1vw;
  width: 50vw;
  height: 30vh;
  border-radius: 30px;
  background: var(--grey);
  align-items :flex-start
}

#form_mode {
  width: 80vw;
}

/* #dash_team_members {
  margin-left: 10vw;
  border-radius: 30px; 
   width: 40vw;
   height: 50vh; 
   overflow: scroll; 
  margin-right: 5vw;
} */


#team_members {
    margin-left: 10vw;
    border-radius: 30px;
    width: 40vw;
    height: 30vh;
    overflow: scroll;
    margin-right: 5vw;
  }

#team_quizz {

  overflow: scroll;
}

#team_quizzes {
  width: 40vw;
  height: 20vh;
  overflow: scroll;
}

.space_between {
  justify-content: space-between;
  padding: 1vh 2vw 0 2vw;
}

.space_evenly {
  justify-content: space-evenly;
  padding: 1vh 2vw 0 2vw;
}

#owner {
font-size: .7rem;
}

.team_block {
 width: 50vw;   
}

.float_Left{
    float: left;
}

.margin_bottom {
    margin-bottom: 2vh;
}

.team_image {
    width: 150px;
    box-sizing: border-box;
}

#team_head {
    width: 33vw;
}

#team_desc {
margin-left: 2vw;
overflow: scroll;
}

.half_width {
    width: 30%;   
}

.transparent {
    background: transparent;
}

.delete {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  padding-bottom: 5px;
  font-size: .8rem;
  cursor: pointer;
}

.hidden {
  display: none;
}

.owner {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  padding-bottom: 5px;
  font-size: .8rem;
  background: greenyellow;
}

.red {
  color: crimson;
}

.red:hover{
  /* background-color: crimson;
  color: white; */
  border-bottom: crimson 2px solid;
  box-sizing: border-box;
}

.click {
  cursor: pointer;
}


.add {
  margin-top: 1vh;
  width: auto;
  padding: 1vh 2vw;
}